body{
    background-color: #D1F9FF;
}
h1 {
    background-color: #65EBFF;
}
h2 {
    background-color: #65EBFF;
}
h3 {
    background-color: #65EBFF;
}
h4 {
    background-color: #65EBFF;
}

table{
    background-color: #65EBFF;
    color: #10099E;
}

li{
    color: #10099E;
}
input{
    background-color: #E6FCFF;
}

label{
    background-color: #E6FCFF;
}